@import "vars.scss";

body {
	background: $cor-0;
	color: $cor-1;
	font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
	font-weight: 800;
}

code {
	width: 95%;
    background: #333;
    color: #f8d473;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #f8d473;
    display: inline-block;
    overflow: auto;
}

pre {
	display: block;
	padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.hight {
	border-bottom: 4px solid $cor-2;
	color: $cor-2;
	font-weight: 800;
	padding: 5px;
}

header {
	min-height: 100vh;
	height: auto;
	background: $cor-1;
	color: $cor-0;
	text-align: center;
	padding-top: 12%;
	padding-bottom: 5%;
	box-sizing: border-box;
	h1 {
		color: $cor-2;
		font-size: 4rem;
		padding: 0;
		margin: 0;
		letter-spacing: 2px;
	}
	p {
		color: $cor-2;
		font-size: 1.5rem;
	}
	.header--p-versao {
		font-size: 1.5rem;
	}
	.header--btn-download {
		background: #f8d473;
	    color: #f8d473;
	    font-weight: 800;
	    padding: 20px;
	    padding-top: 30px;
	    padding-bottom: 0px;
	    margin-top: 20px;
	    border: 2px solid #f8d473;
	    position: relative;
	    z-index: 83;
		&:hover {
			background: $cor-1;
			color: $cor-1;
			border-color: $cor-2;
		  	transition:.5s
		}
		&:before {
			content: '';
		    display: block;
		    position: absolute;
		    background: $cor-1;
		    width: 104%;
		    height: 100%;
		    padding-left: 2px;
		    padding-right: 2px;
		    padding-bottom: 4px;
		    left: -9px;
		    top: 10px;
		    border: 3px solid $cor-2;
		    z-index: -8;
		    transition: 0.5s;
		  	border:3px solid $cor-2;
		  	z-index:-1;
		  	transition:.5s
		}
		&:hover::before {
			content: '';
		    background: $cor-2;
		  	transition:.5s
		}
	}
}



main {
	nav {
		box-shadow: 0 5px 10px #eee;
		background: #fff;
		ul {
			width: 25%;
		    height: auto;
		    margin: 0 auto;
		    display: flex;
			li{
				padding: 20px;
				float: left;
				text-decoration: none;
				list-style: none;
				border-bottom: 4px solid transparent;
				&:hover {
					border-color:  $cor-2;
					cursor: pointer;
				}
			}
		}
	}
	#sobre, #form-teste, #validacao {
		min-height: 40vh;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		.container {
			margin: 0 auto;
		}
		h2 {
			color: $cor-2;
			font-size: 3rem;
			margin-bottom: 0;
		}
		.sobre--descricao {
			font-size: 1.5rem;
		}
		
		.col-md-6 {
			text-align: left;
		}
	}
	#form-teste {
		padding-top: 0px;
		fieldset {
			border: 0;
			legend {
				// text-align: center;
				font-size: 1.5rem;
				padding-bottom: 10px; 
			}
			.span--amarelo {
				color: $cor-2;
			}
			input {
				width: 100%;
			    height: 30px;
			    border: none;
			    padding: 10px;
			    outline: none;
			    margin-bottom: 20px;
			    margin-top: 20px;
			    &:focus {
			   		box-shadow: 0 2px 4px #e6e6e6;

			    }
			}
			label {
				text-align: center;
				font-size: 2rem;
				font-weight: 800
			}
		}
		.col-md-6 {
			padding-left: 50px;
		}
	}
}

footer {
	background: $cor-2;
	padding: 20px;
	text-align: center;
}

// Icon Github
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

// Responsivo
@import "mediaScreen.scss";
